<header>
  <div class="container">
    <div></div>
    <a>Portfólio</a>
    <div class="toggle">
      <input type="checkbox" name="checkbox" id="checkbox" />
      <label for="checkbox" class="label">
        <div class="box"></div>
      </label>
    </div>
  </div>
</header>

<div class="container">
  <section id="sobre">
    <div class="perfil">
      <img src="../assets//imgs/teste.png"/>

      <div>
        <!-- <ul>
          <li><i class="bi bi-geo-alt"></i> Brasil</li>
          <li><i class="bi bi-github"></i> DevJonathanSantos</li>
          <li><i class="bi bi-linkedin"></i> jonathan-oliveira-6a9b19172</li>
          <li><i class="bi bi-envelope"></i> jonathanoliveira.dev@gmail.com</li>          
        </ul> -->
        <a class="downloadCV" href="assets/cv/cv-rhuanbello.pdf" download="">Download CV</a>
      </div>
    </div>
    <div class="sobre">
      <h2>Sobre mim</h2>
      <p>
        Desenvolvedor Front-end com experiência em React.js, Next.js, Redux, JavaScript, TypeScript, Styled
        Components, Material UI e consumo de APIs REST. Apaixonado pelo desenvolvimento de componentes reutilizáveis.
        Também possui
        experiência em projetos gerenciados por Metodologias Ágeis.
        Formado em Sistemas de Informação e cursando Especialização em Front-End na Digital House Brasil.
      </p>
    </div>
    
  </section>

  <section id="habilidades" >
      <h2>Habilidades</h2>
      <div class="categoria" *ngFor="let categoria of categorias">
      <h3>{{categoria.nome}}</h3>
        <div class="cards">
          <div class="card" *ngFor="let item  of categoria.itens">
            <p>{{item}}</p>
          </div>
        </div>
      </div>
  </section>
</div>
